body {
	background-color: #0d1b0a;
}
#next {
	float: right;
	margin-right:10px;
}
#latest {
	float: right;
}
#first{
	font-family:bold;
	font-size:18px;
}
#last{
	font-family:bold;
	font-size:18px;
	margin-left:10px;
}
#random {
	margin-left:35%;
}
a {
	color: #00a0ff;
	text-decoration: none;
}